html {
    scrollbar-gutter: stable;
    /* In chrome, scrollbar always pushed content away, and it was annoying. I found this solution on dev.to, links in the pdf*/
}

body {
    background-color: rgb(28, 28, 28);
    font-family: "Lucida Console", "Courier New", monospace;
}

header {
    display: block;
    left: 1em;
    top: 1em;
    border: 1px solid black
}

a {
    display: block;
    background-color: rgb(63, 93, 103);
    padding: 2px;
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: rgb(218, 116, 133);
}

.currentsite {
    background: rgb(26, 39, 43);
    color: yellow;
}

h1 {
    margin-top: 0;
    text-align: center;
    color: azure;
    font-size: 1.5rem
}

#title {
    margin-top: 0.5em;
}

.gallerypic {
    width: 100%;
    margin-bottom: 0.3em
}

main {
    border: 2px black solid;
    background-color: rgb(76, 76, 76);
}

main h2, p {
    color: aliceblue
}

footer {
    display: block;
    text-align: center;
    background-color: rgb(52, 51, 51);
    position: fixed;
    bottom: 0px;
    color: rgb(26, 26, 26);
    width: 100%;
    left: 0
}

footer>span {
    color: white
}

form {
    color: aliceblue
}

input[type="text"] {
    /* only styling type=text inputs. I saw this method in a stack overflow comment once and remembered it*/
    width: 75%
}

#formsection>h2 {
    font-size: 1.5em;
}

#formsection>form>label {
    font-size: 1em;
}

#message {
    width: 100%;
    resize: none;
    height: 175px;
    margin-bottom: 10px;
}

#cvgrid {
    padding: 10px;
    color: white
}

#articleaboutme {
   font-size: 1.2em; 
}

#imageaobutme {
    width: 100%;
}

#figaboutme {
    border: 1px solid black; 
    padding: 10px
}

#bottomarticle > p {
    font-size: 1.2em; 
}

p {
    letter-spacing: 1px; /* Chrome and Firefox had different letter spacing, so i had to make them the same */
}
/*------- FOR TABLETS --------*/

@media only screen and (min-width: 550px) {

    #formsection>h2 {
        font-size: 2em;
    }

    header {
        border: none;
        display: flex;
    }

    nav {
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        text-align: center;
        display: inline;
        padding: 10px
    }

    h1 {
        font-size: 2.5rem;
    }

    #title {
        margin-top: 3em;
    }

    main {
        margin-left: 10%;
        margin-right: 10%;
        background-color: rgb(76, 76, 76);
    }

    #item_article1 {
        font-size: 1.2em;
    }

    input[type="text"] {
        width: 40%;
    }

    #formsection>form>label {
        font-size: 1.1em;
    }

}

/*------- FOR DESKTOP --------*/

@media only screen and (min-width: 1200px) {
    header {
        border: none;
        display: inline;
    }

    a {
        text-align: center;
        display: inline;
        padding: 10px
    }

    h1 {
        font-size: 3rem;
    }

    #title {
        margin-top: 3em;
    }

    main {
        margin-left: 17%;
        margin-right: 17%;
        margin-bottom: 3%;
    }

    .maingrid {
        display: grid;
        margin-left: 17%;
        margin-right: 17%;
        background-color: rgb(76, 76, 76);
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        gap: 0.5em;
        justify-items: stretch;
    }

    .gallerygrid {
        display: grid;
        margin-left: 0;
        margin-right: 0;
        background-color: rgb(76, 76, 76);
        grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
        gap: 0.7em;
        justify-items: stretch;
    }

    #item_h2 {
        grid-area: 1 / 1 / 2 / 3;
        margin-top: 5px;
        margin-bottom: 5px;
        align-self: center
    }

    #item_article1 {
        grid-area: 1 / 1/ 4 / 3;
        font-size: 1.2em;
    }

    #item_aside1 {
        grid-area: 1 / 3/ 4 / 4;
        border: 1px black solid;
        align-self: center;
    }

    #mainaboutme {
        margin-left: 17%;
        margin-right: 17%;
        margin-bottom: 3%;
    }

    #gallery1 {
        grid-area: 1 / 1 / 2 / 2;
        height: 100%;
    }

    #gallery2 {
        grid-area: 1 / 2 / 2 / 3;
        height: 100%;
    }

    #gallery3 {
        grid-area: 2 / 1 / 3 / 2;
        height: 100%;
    }

    #gallery4 {
        grid-area: 2 / 2 / 3 / 3;
        height: 100%;
    }

    #gallery5 {
        grid-area: 3 / 1 / 4 / 2;
        height: 100%;
    }

    #gallery6 {
        grid-area: 3 / 2 / 4 / 3;
        height: 100%
    }

    #gallery7 {
        grid-area: 4 / 1 / 5 / 2;
        height: 100%
    }

    #gallery8 {
        grid-area: 4 / 2 / 5 / 3;
        height: 100%
    }

    #gallery9 {
        grid-area: 5 / 1 / 6 / 2;
    }

    #gallery10 {
        grid-area: 5 / 2 / 6 / 3;
    }

    input[type="text"] {
        width: 35%;
    }

    #formsection>h2 {
        font-size: 2.2em;
    }

    #formsection>form>p {
        font-size: 1.2em;
    }

    #cvgrid {
        display: grid;
        grid-template-columns: 65% 35%;
        color: white
    }

    #cvarticle {
        grid-area: 1 / 1 / 2 / 2;
        padding: 15px
    }

    #cvaside {
        grid-area: 1 / 2 / 2 / 3;
        padding: 10px;
        background-color: rgb(58, 58, 58);
        align-self: center;
    }

    #sectionaboutme {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    #articleaboutme {
        grid-area: 1 / 1 / 2 / 2;
    }

   #figaboutme {
        grid-area: 1 / 2 / 2 / 3;
        align-self: center;
}
}